.App {
  text-align: center;
  
}
.image{
  max-width: 100%;
  height: auto;
}
.smallImage{
  max-width: 200px;
  height: auto;
}
.mainPage{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.inputBox{
  width: 80%;
  padding:15px 10px;
  line-height:100%;
  box-sizing: border-box;
}
.username{
  text-align: left;
  background-color: rgba(77, 51, 22, 0.329);
}
.usernameLog{
  margin: 0;
  padding: 10px;
  background-color: rgb(226, 101, 43);
  font-weight: bolder;
}
.pages{
  margin-bottom: 5px;
  padding: 10px;
}
.navbar1{
  display: -webkit-inline-flex;
  flex-direction: row;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));  
}
.navbar{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);

}
.App-header{
  text-align: center;
  text-decoration-color: green;
  background-color: rgba(77, 51, 22, 0.329);
  border-color: black;
  border: 3px 
}
.topic{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.indvArticle{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.indvComment{
  background-color: rgb(226, 101, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.user{
  background-color: rgb(131, 194, 60);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.link { color: black; }
.linkGap{
  padding: 30px;
}
.like{
background-color: rgb(68, 180, 68);
border: 2px solid black;
border-radius: 5px 5px 5px 5px;
padding: 0px 5px;
margin: 2px;
}
.dislike{
background-color: rgb(235, 72, 72);
border: 2px solid black;
border-radius: 5px 5px 5px 5px;
padding: 0px 5px;
margin: 2px;
}
.delete{
  background-color: rgb(233, 233, 8);
border: 2px solid black;
border-radius: 5px 5px 5px 5px;
padding: 0px 5px;
margin: 2px;
}
.submit{
  background-color: rgb(68, 180, 68);
border: 2px solid black;
border-radius: 5px 5px 5px 5px;
padding: 0px 5px;
margin: 2px;
}
.back{
  background-color: rgb(226, 162, 43);
border: 2px solid black;
border-radius: 5px 5px 5px 5px;
padding: 0px 5px;
margin: 2px;
}