

.App {
  text-align: center;
}
.mainPage{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.username{
  text-align: left;
  background-color: rgba(77, 51, 22, 0.329);
}
.usernameLog{
  margin: 0;
  padding: 10px;
  background-color: rgb(226, 101, 43);
  font-weight: bolder;
}
.navbar1{
  display: -webkit-inline-flex;
  flex-direction: row;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));  
}
.navbar{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);

}
.App-header{
  text-align: center;
  text-decoration-color: green;
  background-color: rgba(77, 51, 22, 0.329);
  border-color: black;
  border: 3px 
}
.topic{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.indvArticle{
  background-color: rgb(226, 162, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  /* text-decoration: none; */
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.indvComment{
  background-color: rgb(226, 101, 43);
  color: black;
  padding: 14px 25px;
  margin: 10px 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid rgb(3, 0, 0);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.46);
}
.link { color: black; }